

<!-- <div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome to your account!</h1>
    <h1>Hey,<%- Fname %></h1>
    <p class="secret-text">Name:<%- Fname %><space></space><%-Lname  %></p>
    <p class="secret-text">Email:<%- Email %></p>
    <p class="secret-text">Age:<%- Age %></p>
    <img src="../uploads/<%- Image %>" alt="Profile Picture" width="200" height="200">
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div> -->
<!-- 
<section class="text-<%- txtColor%>-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-<%- txtColor%>-500 tracking-widest">Welcome to your account!</h2>
        <h1 class="text-<%- txtColor%>-900 text-3xl title-font font-medium mb-4">Hey,<%- Fname %></h1>
        <div class="flex mb-4">
          <a class="flex-grow text-<%- txtColor%>-500 border-b-2 border-yellow-500 py-2 text-lg px-1">Name:<%- Fname %></a>
          <a class="flex-grow border-b-2 border-<%- txtColor%>-300 py-2 text-lg px-1">Email:<%- Email %></a>
          <a class="flex-grow border-b-2 border-<%- txtColor%>-300 py-2 text-lg px-1">Age:<%- Age %></a>
        </div>
        <p class="leading-relaxed mb-4">This is the basic prototype of the project</p>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-<%- txtColor%>-500">Feature</span>
          <span class="ml-auto text-<%- txtColor%>gray-900"> Testing</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-<%- txtColor%>-500">Color of text choosen:</span>
          <span class="ml-auto text-<%- txtColor%>-900"><%- txtColor%></span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-<%- txtColor%>-500">Color of the button choosen:</span>
          <span class="ml-auto text-<%-Color%>-900"><%-Color%></span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-<%- txtColor%>-900">Soon!</span>
          <button class="flex ml-auto text-white bg-<%-Color%>-500 border-0 py-2 px-6 focus:outline-none hover:bg-<%-Color%>-600 rounded">Button</button>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="../uploads/<%- Image %>">
    </div>
  </div>
<a class=" text-white bg-<%-Color%>-500 border-0 py-2 px-6  hover:bg-<%-Color%>-600 rounded" href="/logout" role="button">Log Out</a>

</section> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <style> /* Compiled dark classes from Tailwind */
    button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-2 {
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* 1 */
        .dark .dark\:divide-gray-700 > :not([hidden]) ~ :not([hidden]) {
          border-color: rgba(55, 65, 81);
        }
        .dark .dark\:bg-gray-50 {
          background-color: linear-gradient(to left, rgb(165, 180, 252), rgb(192, 132, 252));
        }
        .dark .dark\:bg-gray-100 {
          background-color: linear-gradient(to left, rgb(165, 180, 252), rgb(192, 132, 252));
        }
        .dark .dark\:bg-gray-600 {
          background-color: rgba(75, 85, 99);
        }
        .dark .dark\:bg-gray-700 {
          background-color: rgba(55, 65, 81);
        }
        .dark .dark\:bg-gray-800 {
          background-color: rgba(31, 41, 55);
        }
        .dark .dark\:bg-gray-900 {
          background-color: rgba(17, 24, 39);
        }
        .dark .dark\:bg-red-700 {
          background-color: rgba(185, 28, 28);
        }
        .dark .dark\:bg-green-700 {
          background-color: rgba(4, 120, 87);
        }
        .dark .dark\:hover\:bg-gray-200:hover {
          background-color: linear-gradient(to left, rgb(165, 180, 252), rgb(192, 132, 252));
        }
        .dark .dark\:hover\:bg-gray-600:hover {
          background-color: rgba(75, 85, 99);
        }
        .dark .dark\:hover\:bg-gray-700:hover {
          background-color: rgba(55, 65, 81);
        }
        .dark .dark\:hover\:bg-gray-900:hover {
          background-color: rgba(17, 24, 39);
        }
        .dark .dark\:border-gray-100 {
          border-color: linear-gradient(to left, rgb(165, 180, 252), rgb(192, 132, 252));
        }
        .dark .dark\:border-gray-400 {
          border-color: linear-gradient(to left, rgb(165, 180, 252), rgb(192, 132, 252));
        }
        .dark .dark\:border-gray-500 {
          border-color: rgba(107, 114, 128);
        }
        .dark .dark\:border-gray-600 {
          border-color: rgba(75, 85, 99);
        }
        .dark .dark\:border-gray-700 {
          border-color: rgba(55, 65, 81);
        }
        .dark .dark\:border-gray-900 {
          border-color: rgba(17, 24, 39);
        }
        .dark .dark\:hover\:border-gray-800:hover {
          border-color: rgba(31, 41, 55);
        }
        .dark .dark\:text-white {
          color: rgba(255, 255, 255);
        }
        .dark .dark\:text-gray-50 {
          color: rgba(249, 250, 251);
        }
        .dark .dark\:text-gray-100 {
          color: rgba(243, 244, 246);
        }
        .dark .dark\:text-gray-200 {
          color: rgba(229, 231, 235);
        }
        .dark .dark\:text-gray-400 {
          color: rgba(156, 163, 175);
        }
        .dark .dark\:text-gray-500 {
          color: rgba(107, 114, 128);
        }
        .dark .dark\:text-gray-700 {
          color: rgba(55, 65, 81);
        }
        .dark .dark\:text-gray-800 {
          color: rgba(31, 41, 55);
        }
        .dark .dark\:text-red-100 {
          color: rgba(254, 226, 226);
        }
        .dark .dark\:text-green-100 {
          color: rgba(209, 250, 229);
        }
        .dark .dark\:text-purple-400 {
          color: rgba(96, 165, 250);
        }
        .dark .group:hover .dark\:group-hover\:text-gray-500 {
          color: rgba(107, 114, 128);
        }
        .dark .group:focus .dark\:group-focus\:text-gray-700 {
          color: rgba(55, 65, 81);
        }
        .dark .dark\:hover\:text-gray-100:hover {
          color: rgba(243, 244, 246);
        }
        .dark .dark\:hover\:text-purple-500:hover {
          color: rgb(168, 59, 246);
        }
      
        /* Custom style */
        .header-right {
            width: calc(100% - 3.5rem);
        }
        .sidebar:hover {
            width: 16rem;
        }
        @media only screen and (min-width: 768px) {
            .header-right {
                width: calc(100% - 16rem);
            }        
        }</style>
          <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
    <div x-data="setup()" :class="{ 'dark': isDark }">
        <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-purple-200 dark:bg-gray-700 text-black dark:text-white">
    
          <!-- Header -->
          <div class="fixed w-full flex items-center justify-between h-14 text-white z-10">
            <div class="flex items-center justify-start md:justify-center pl-3 w-14 md:w-64 h-14 bg-purple-800 dark:bg-gray-800 border-none">
              <img class="w-7 h-7 md:w-10 md:h-10 mr-2 rounded-md overflow-hidden" src="https://therminic2018.eu/wp-content/uploads/2018/07/dummy-avatar.jpg" />
              <span class="hidden md:block"><%- Fname %></span>
            </div>
            <div class="flex justify-between items-center h-14 bg-purple-800 dark:bg-gray-800 header-right">
              <div class="bg-purple-200 rounded flex items-center w-full max-w-xl mr-4 p-2 shadow-sm border border-gray-200">
                <button class="outline-none focus:outline-none">
                  <svg class="w-5 text-gray-600 h-5 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </button>
                <input type="search" name="" id="" placeholder="Search" class="w-full pl-3 text-sm text-black outline-none focus:outline-none bg-transparent" />
              </div>
              <ul class="flex items-center">
                <li>
                  <button
                    aria-hidden="true"
                    @click="toggleTheme"
                    class="group p-2 transition-colors duration-200 rounded-full shadow-md bg-purple-200 hover:bg-purple-200 dark:bg-gray-50 dark:hover:bg-gray-200 text-gray-900 focus:outline-none"
                  >
                    <svg
                      x-show="isDark"
                      width="24"
                      height="24"
                      class="fill-current text-gray-700 group-hover:text-gray-500 group-focus:text-gray-700 dark:text-gray-700 dark:group-hover:text-gray-500 dark:group-focus:text-gray-700"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke=""
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
                      />
                    </svg>
                    <svg
                      x-show="!isDark"
                      width="24"
                      height="24"
                      class="fill-current text-gray-700 group-hover:text-gray-500 group-focus:text-gray-700 dark:text-gray-700 dark:group-hover:text-gray-500 dark:group-focus:text-gray-700"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke=""
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
                      />
                    </svg>
                  </button>
                </li>
                <li>
                  <div class="block w-px h-6 mx-3 bg-gray-400 dark:bg-gray-700"></div>
                </li>
                <li>
                  <a href="#" class="flex items-center mr-4 hover:text-purple-100">
                    <span class="inline-flex mr-1">
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                    </span>
                    Logout
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- ./Header -->
        
          <!-- Sidebar -->
          <div class="fixed flex flex-col top-14 left-0 w-14 hover:w-64 md:w-64 bg-purple-900 dark:bg-gray-900 h-full text-white transition-all duration-300 border-none z-10 sidebar">
            <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
              <ul class="flex flex-col py-4 space-y-1">
                <li class="px-5 hidden md:block">
                  <div class="flex flex-row items-center h-8">
                    <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Main</div>
                  </div>
                </li>
                <li>
                  <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-purple-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-purple-500 dark:hover:border-gray-800 pr-6">
                    <span class="inline-flex justify-center items-center ml-4">
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
                  </a>
                </li>
                
                <li>
                  <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-purple-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-purple-500 dark:hover:border-gray-800 pr-6">
                    <span class="inline-flex justify-center items-center ml-4">
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path></svg>
                    </span>
                    <span class="ml-2 text-sm tracking-wide truncate"><%-Color%></span>
                  </a>
                </li>
                <li>
                  <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-purple-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-purple-500 dark:hover:border-gray-800 pr-6">
                    <span class="inline-flex justify-center items-center ml-4">
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path></svg>
                    </span>
                    <span class="ml-2 text-sm tracking-wide truncate"><%-txtColor%></span>
                  </a>
                </li>
                <li class="px-5 hidden md:block">
                  <div class="flex flex-row items-center mt-5 h-8">
                    <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Settings</div>
                  </div>
                </li>
                <li>
                  <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-purple-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-purple-500 dark:hover:border-gray-800 pr-6">
                    <span class="inline-flex justify-center items-center ml-4">
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                    </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Profile</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-purple-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-purple-500 dark:hover:border-gray-800 pr-6">
                    <span class="inline-flex justify-center items-center ml-4">
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                      </svg>
                    </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Settings</span>
                  </a>
                </li>
              </ul>
              <p class="mb-14 px-5 py-3 hidden md:block text-center text-xs">Copyright BigDeal</p>
            </div>
          </div>
          <!-- ./Sidebar -->
        
          <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
        
            <!-- Statistics Cards -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-4 gap-4">
              <div class="bg-purple-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-purple-600 dark:border-gray-600 text-white font-medium group">
                <div class="flex justify-center items-center w-14 h-14 bg-purple-200 rounded-full transition-all duration-300 transform group-hover:rotate-12">
                  <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-purple-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                </div>
                <div class="text-right">
                  <p class="text-2xl">5</p>
                  <p>Total Research</p>
                </div>
              </div>
              <div class="bg-purple-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-purple-600 dark:border-gray-600 text-white font-medium group">
                <div class="flex justify-center items-center w-14 h-14 bg-purple-200 rounded-full transition-all duration-300 transform group-hover:rotate-12">
                  <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-purple-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path></svg>
                </div>
                <div class="text-right">
                  <p class="text-2xl">3</p>
                  <p>Completed</p>
                </div>
              </div>
              <div class="bg-purple-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-purple-600 dark:border-gray-600 text-white font-medium group">
                <div class="flex justify-center items-center w-14 h-14 bg-purple-200 rounded-full transition-all duration-300 transform group-hover:rotate-12">
                  <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-purple-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path></svg>
                </div>
                <div class="text-right">
                  <p class="text-2xl">2</p>
                  <p>Working</p>
                </div>
              </div>
              
            </div>
            <!-- ./Statistics Cards -->
        
            <div class="grid grid-cols-1 lg:grid-cols-2 p-4 gap-4">
        
              <!-- Social Traffic -->
              <div class="relative flex flex-col min-w-0 mb-4 lg:mb-0 break-words bg-gray-50 dark:bg-gray-800 w-full shadow-lg rounded">
                <div class="rounded-t mb-0 px-0 border-0">
                  <div class="flex flex-wrap items-center px-4 py-2">
                    <div class="relative w-full max-w-full flex-grow flex-1">
                      <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50">Research</h3>
                    </div>
                    <div class="relative w-full max-w-full flex-grow flex-1 text-right">
                      <button class="bg-purple-500 dark:bg-gray-100 text-white active:bg-purple-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">See all</button>
                    </div>
                  </div>
                  <div class="block w-full overflow-x-auto">
                    <table class="items-center w-full bg-transparent border-collapse">
                      <thead>
                        <tr>
                          <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">Name</th>
                         
                          <th class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">Completion Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-gray-700 dark:text-gray-100">
                          <th class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">ROBOTIC ARM</th>
                          
                          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                              <span class="mr-2 text-red-200">PENDING</span>
                             
                            </div>
                          </td>
                        </tr>
                        <tr class="text-gray-700 dark:text-gray-100">
                          <th class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">AI HOSPITAL ASSISTANT</th>
                          
                          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                              <span class="mr-2 text-purple-800">DONE</span>
                              
                            </div>
                          </td>
                        </tr>
                        <tr class="text-gray-700 dark:text-gray-100">
                          <th class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">CYBER BULLY</th>
                          
                          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                              <span class="mr-2 text-purple-800">DONE</span>
                              
                            </div>
                          </td>
                        </tr>
                        <tr class="text-gray-700 dark:text-gray-100">
                          <th class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">RENEWABLE ENERGY RESOURCE</th>
                          
                          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                              <span class="mr-2 text-red-200">PENDING</span>
                             
                            </div>
                          </td>
                        </tr>
                        <tr class="text-gray-700 dark:text-gray-100">
                          <th class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">MENTAL HEALTH TRACKER</th>
                          
                          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                            <div class="flex items-center">
                              <span class="mr-2 text-purple-800">DONE</span>
                              <div class="relative w-full">
                                
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- ./Social Traffic -->
        
              <!-- Recent Activities -->
              <div class="relative flex flex-col min-w-0 break-words bg-gray-50 dark:bg-gray-800 w-full shadow-lg rounded">
                <div class="rounded-t mb-0 px-0 border-0">
                  <div class="flex flex-wrap items-center px-4 py-2">
                    <div class=" w-full max-w-full flex-grow flex-1">
                      <h3 class="font-bold text-base text-gray-900 dark:text-gray-50">ADD A NEW RESEARCH</h3>
                    </div>
                    <button class="custom-btn btn-2 flex flex-col"><a href="/form">Add+</a></button>
                </div>
                
              </div>
              <!-- ./Recent Activities -->
              
            </div>
        
            <!-- Task Summaries -->
            
              
             
            <!-- ./Task Summaries -->
        
            <!-- Client Table -->
            
            <!-- ./Client Table -->
        
           
            <!-- ./Contact Form -->
        
            <!-- External resources -->
            
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
      <script>
        const setup = () => {
          const getTheme = () => {
            if (window.localStorage.getItem('dark')) {
              return JSON.parse(window.localStorage.getItem('dark'))
            }
            return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
          }
    
          const setTheme = (value) => {
            window.localStorage.setItem('dark', value)
          }
    
          return {
            loading: true,
            isDark: getTheme(),
            toggleTheme() {
              this.isDark = !this.isDark
              setTheme(this.isDark)
            },
          }
        }
      </script>    
</body>
</html>
