<%- include('partials/header') %>

<!-- <div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome to your account!</h1>
    <h1>Hey,<%- Fname %></h1>
    <p class="secret-text">Name:<%- Fname %><space></space><%-Lname  %></p>
    <p class="secret-text">Email:<%- Email %></p>
    <p class="secret-text">Age:<%- Age %></p>
    <img src="../uploads/<%- Image %>" alt="Profile Picture" width="200" height="200">
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div> -->

<section class="text-<%- txtColor%>-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-<%- txtColor%>-500 tracking-widest">Welcome to your account!</h2>
        <h1 class="text-<%- txtColor%>-900 text-3xl title-font font-medium mb-4">Hey,<%- Fname %></h1>
        <div class="flex mb-4">
          <a class="flex-grow text-<%- txtColor%>-500 border-b-2 border-yellow-500 py-2 text-lg px-1">Name:<%- Fname %></a>
          <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Email:<%- Email %></a>
          <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Age:<%- Age %></a>
        </div>
        <p class="leading-relaxed mb-4">This is the basic prototype of the project</p>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-<%- txtColor%>-500">Feature</span>
          <span class="ml-auto text-<%- txtColor%>gray-900"> Testing</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-<%- txtColor%>-500">Color of text choosen:</span>
          <span class="ml-auto text-<%- txtColor%>-900"><%- txtColor%></span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-<%- txtColor%>-500">Color of the button choosen:</span>
          <span class="ml-auto text-<%-Color%>-900"><%-Color%></span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-<%- txtColor%>-900">Soon!</span>
          <button class="flex ml-auto text-white bg-<%-Color%>-500 border-0 py-2 px-6 focus:outline-none hover:bg-<%-Color%>-600 rounded">Button</button>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="../uploads/<%- Image %>">
    </div>
  </div>
<a class=" text-white bg-<%-Color%>-500 border-0 py-2 px-6  hover:bg-<%-Color%>-600 rounded" href="/logout" role="button">Log Out</a>

</section>

<%- include('partials/footer') %>
