<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome to your account!</h1>
    <h1>Hey,<%- Fname %></h1>
    <p class="secret-text">Name:<%- Fname %><space></space><%-Lname  %></p>
    <p class="secret-text">Email:<%- Email %></p>
    <p class="secret-text">Age:<%- Age %></p>
    <img src="../uploads/<%- Image %>" alt="Profile Picture" width="200" height="200">
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
